<style type='text/css'>
  p.title { font-size: 20px; }
</style>

<div>
  <h1>Email Confirmation</h1>
  <h2>Hello {{name}}</h2>
  <p>Thank you for subscribing. Please confirm your email by clicking on the
    following link</p>
  <a href='http://localhost:4200/confirm/{{confirmToken}}'> Click here</a>
</div>